<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class="main-header">
    <h1>
      <a href="{{projectRoot}}index.html">
        {{!-- <img src="{{projectAssets}}/css/logo.png" width="117" height="52"> --}}
        DropKick Documentation
        {{!-- {{title}} --}}
      </a>
    </h1>

    <em>DropKick Docs Version: {{projectVersion}}</em>
  </header>
  <section class="container">
    <div class="sidebar">
      {{>sidebar}}
    </div>

    <div class="content">
      {{>layout_content}}
    </div>
  </section>
    {{!--
    <script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
    <script>prettyPrint();</script>
    <script src="{{projectAssets}}/js/yui-prettify.js"></script>
     --}}
  <script src="{{projectAssets}}/js/jquery.js"></script>
  <script src="{{projectAssets}}/js/tabs.js"></script>
  <script>
  window.onscroll = function(event) {
    if(window.scrollY < 90) {
      // top: inherit
      document.getElementsByClassName("sidebar")[0].style.position = "absolute";
      document.getElementsByClassName("sidebar")[0].style.top = "inherit";
    } else {
      // top: 90
      document.getElementsByClassName("sidebar")[0].style.position = "fixed";
      document.getElementsByClassName("sidebar")[0].style.top = 0;
    }
  }
  </script>
</body>
</html>
